<%= form_for :listing ,url: submit_upload_path do |form| %>

    <%  @new_listing.photoes.each do |photo| %>
   
    <p><%= image_tag photo.url %></p>
       <%end%>
  
   <p> <%= form.file_field :photoes, multiple: true %>
  </p>

  <p><%= form.submit %></p>

<%end%>