<% if current_user.admin? %>
  <h1>All the reservations</h1>

      <table>
      <tr>
      <th>Description</th>
      <th>Address</th>
      <th>Price</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>User Name</th>
      <th>Reservation code</th>
      </tr>
      <%@reservations.each do |reservation|%>
      <tr>
      <td>Description: <%reservation.listing.description%></td>
      <td>Address: <%reservation.listing.address%></td>
      <td>Price: <%reservation.listing.price%></td>
      <td>Start Date: <%reservation.start_date%></td>
      <td>End Date: <%reservation.end_date%></td>
      <td>Host Name: <%reservation.listing.user.name%></td>
      <td>Reservation code:<%= link_to reservation.id, reservation_path %></td>
      </tr>
      <%end%>
      </table>
<%else%>

      <p>Sorry cant proceed without admin</p>
<%end%>
