
    <h1>Congratulation! You have received a booking from <%=@customer.name%></h1>
  
    <p>
      You can see details of your new reservation: <%= link_to "link", listing_reservation_url(@host.id,@reservation_id) %>.
    </p>